





::-webkit-scrollbar-track
{
	
	background-color: white;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}

::-webkit-scrollbar-thumb
{
	background-color:#22419c;
	border: 2px solid #22419c;
}


 


.top{
    background:none;
 }
 a{
color: #666666;
display:inline-flex;
justify-content: center;
align-items: center;
text-decoration: none;
margin-left: 2rem;
font-weight: 400;
font-size: 16px;

}

.soc li a:hover{
    color:#22419c;
}
.makeappointment{
    background-color:#85ba32;
    color: white;
    margin-left: 50%;
    height: 40px;
    width:180px;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
}
.makeappointment:hover{
    background-color: #22419c;
    color: white;
}




.header {
    background-color:white;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 88%;
    height: 80px;
    transition: width 0.8s;
    z-index: 1000; /* Ensure navbar stays on top */
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display:flex;
    align-items: center;

   
}

p{
    font-size: 16px;
    line-height: 28px;
    color: #666666;
    font-family: 'Roboto', sans-serif !important;
}

strong{
    font-weight: bolder;
}


 



.navbar{
    padding-left: 20%;
    display:flex;
    justify-content:space-between;
    align-items: center;
}





.navbar a {

    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 2rem;
    font-size: medium;
    width: auto;
    border-radius: 2%;
    font-weight: normal;

}
.navbar a:hover{
    background-color:  #22419c;
    width: 120px;
    height:40px;
    margin-left: 2rem;
    background-size: cover;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;

    
}




.scrolled {
    width: 100%; /* Adjust the width of the navbar when scrolled */
    top:0;
    left:0;
    height: 60px;
  
    opacity: 0.9;
    
    
  
}
.scrolled .navbar{
    padding-left: 30%;
    margin-left: 2rem;
}
.scrolled .logo{
    width: 50px;
    margin-left: 10%;
}










.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  height: 40px;
 
  background-color: #22419c;;
  border: none;
    padding-left: 6%;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  
  background-color: #85ba32;
}

.button-88:active {
    background-color: #85ba32;
}




 h2{

    
 
    font-weight: 100;

}




.tt{
    margin-top: -20%;
    z-index: 100;
}
.button-89 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    height: 40px;
   width: 130px;
    background-color: #22419c;;
    border: none;
      padding-left: 9%;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover {
    
    background-color: #85ba32;
  }
  
  .button-89:active {
      background-color: #85ba32;
  }
  
.wp{
  margin: 0px 0px 5px 0px;
  color:#22419c;
  font-size: 16px;
  font-weight: 500 !important;
  margin-bottom: 3%;
}




.heal {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlayy {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
  }
  
  .heal:hover .overlayy {
    height: 100%;
  }
  
  .textt {
   
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }

  .why_title p{
    font-size: 14px;
    color: #3b3b3b;
    font-family: 'Roboto', sans-serif !important;
    margin-top: 3%;

  }
 
  

 .whyrw{
 
    border-style:ridge;
    border-left: none;
    border-right: none;
 }
 .whyy1{
    border-style: ridge;
    border-left: none;
    border-bottom: none;
    border-top: none;
 }
 .whyy2{
  border-style: ridge;
  border-left: none;
  border-bottom: none;
  border-top: none;
 }
 .whyy3{
    border-style: ridge;
    border-left: none;
    border-bottom: none;
    border-top: none;
    border-right: none;
 }
 .whyy4{
    border-style: ridge;
    border-right: none;
    border-bottom: none;
    border-top: none;
 }
 .whyy5{
    border-style: ridge;
    border-right: none;
    border-bottom: none;
    border-top: none;
 }
 .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#22419c;
  border-radius: 50%;
  
  transition: background-color 0.3s ease;


}

.active, .dot:hover {
  background-color: #e4e8f3;
  border-style: solid 1px #22419c;
}

.top{
  background-color: white;
}
.pi h6 :hover{
  color: #22419c;
}








  .btn-whatsapp-pulse {
    background: #11bb19;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    z-index: 9999;
    padding: 25px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(86, 86, 86, 0.5);
    }
    80% {
      box-shadow: 0 0 0 14px rgba(85, 85, 85, 0);
    }
  }
  
  .pee .pi:hover{
    border: solid 2px #22419c ;
  
  }
   .projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    margin-top: 5%;
    background-color: white;
}
.projects-container .projects-box{
    position: relative;
    
   background-color: #e4e8f3;
    overflow: hidden;
    position: relative;
     width: 400px;
    text-align: left;
    display: flex;
    height: 360px;

}
.projects-box img{
    width:100%;
    height: 260px;
    transition: .5s ease;
   
    
 
  
}
.projects-box:hover img{
    transform: scale(1.1);
    overflow-y: hidden;
    
   
} 
.projects-container .projects-box:hover{
  background-color:#85ba32;

}





.projects-box {
  position: relative;
  width: 50%;
}

.projects-box img{
  display: block;
  width: 100%;
 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 272.8px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#22419c;
}

.projects-box:hover .overlay {
  opacity: 0.8;
  color: white;
}

.text {
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.projects-containerr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    margin-top: 5%;
 
}
.projects-containerr .projects-boxx{
    position: relative;
    
   background-color:white;
    overflow: hidden;
    position: relative;
     width: 410px;
    text-align: left;
    display: flex;
    height: 300px;
   border-style:ridge;
   

}
.projects-boxx .testy{
    width:100%;
    height: 220px;
    
    border-style: ridge;
    border-top: none;
    border-left: none;
    border-right: none;

   
  
 
  
}

.projects-boxx:hover{
  border-style:ridge;
  border-color: #7895ee;
}
.testy:hover{
  border-style:ridge;
  border-color: #7895ee;
  border-top: none;
  border-left: none;
  border-right: none;

 
}

.jkk{
  width: 400px;
  height: 540px;
  background-color: #fefefe;
  margin-top: 20%;
  margin-left:1%;
  border-style: solid;
  border-color:#22419c;
  padding: 8%;
}


.button-8 {
  background-color:#22419c;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width:320px;
  height: 40px;;
}

.button-8:hover,
.button-8:focus {
  background-color:#85ba32;
  color:white;
}


        


.bii{
  height:120px;
  border-style: ridge;
  border-color: rgb(102, 102, 102);
  border-bottom: none;
  border-top:none;
  border-left:none ;
  border-width: 1px;
}


.button-81 {
  background-color:rgb(47, 47, 47);

  border-radius: 1.5rem;
  box-sizing: border-box;
  color:#85ba32;
  width:150px;
  height: 40px;
  padding-bottom: 4%;
  margin-left: 20%;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0;
  padding: 1rem 1.6rem;
  text-align: center;
  border:rgb(47, 47, 47);
 
  transition: all .1s cubic-bezier(.4, 0, .2, 1);


}

.button-81:hover {
  background-color:#22419c;
  color: #fff;
  border:#22419c;
}

.w1 {
 
  color:rgb(71, 71, 71);
  
}
.w1 :hover{
  color: #22419c;
}
.w3 {
 
  color:rgb(71, 71, 71);
}
.cnt{
  
  border-bottom-color: #22419c;

  border-bottom-width: 2px;
}
.cnt:hover{
  border-bottom-color:#85ba32;

  border-bottom-width: 2px;
}

  

.kk:hover{
  background-color:#85ba32 ;
}
.kk{
  background-color:#22419c;
  width:80px;
  height:80px;
  border-radius:50%;
  margin-top:9%;
  margin-left:37%;
  padding-left: 8%;
  padding-top: 7%;
  margin-bottom: 3%;
}



.contact form .input-box input{
  border-radius: .4rem;
  border-top: none;
  border-color: #fffcfc;
  border-left: none;

}
.contact form textarea{
 
   

  
    border-radius: .5rem;
    border-style: solid;
    border-color: #666666;
    border-width: 2px;
  


}
.flaa {
  display: grid;
  grid-template-columns: 1fr; 
 
}
.w h3{
  color: white;
  background-color: #85ba32;
  background-size: contain;
  width: 380px;
  font-size: 20px;
  height: 33px;
  font-weight: 400;
  padding-top: 1%;
  padding-left: 3%;
  box-sizing: border-box;
  border-radius: 4px;


}
.w h4{
  color:#22419c;
  font-size: 21px;
  font-weight: 400;
}
.w p{
  padding-left: 3%;
  margin-bottom: 1%;
}
.sss{
  background-color:#e4e8f3;
  height: 32px;
  padding-top: 1%;
  width: 380px;
}




.ner {
  position: relative;
  width: 300px;
  height: 280px;
 
}

.imae {
  display: block;
  width: 100%;
  height: 280px;
}

.ov {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#22419c;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.8;
}

.ner:hover .ov{
  width: 100%;
  
}

.tet {
  color: white;
  font-size: 45px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}




