
{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'nav.html' %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <div class="innerpage-banner">
        <div class="container-fluid">
            <div class="row">
                <div style="z-index: 0; position:relative;margin-top:-5%; background-image: linear-gradient(white, rgb(238, 239, 246)) ;margin-left:0%;" class="col-lg-6">
                    <div  class="innerpage-banner-heading">
                        <span>
                            <h2 style="margin-top: 30%;margin-left:10%;font-weight:bold;font-family:Oswald, sans-serif;font-size:60px;font-weight:200;">Branches</h2>
                                                        <p style="margin-left: 10%;">GMRL Labs: Affordable health check-ups, precision diagnostics,<br />and convenient branches for your well-being.</p>
                                                </span>
                    </div>
                </div>
                <div class="col-lg-6">
                <img style="z-index: 0; position:relative;margin-top:-13%;margin-left:-3%;"width="770" height="550" src="{% static 'images/banner6.jpg' %}" class="attachment-large size-large" alt="Gmrl" decoding="async" fetchpriority="high" />			</div>
            </div>
        </div>
    </div>





    <div style="height: 700px;" class="container-fluid">

        <div class="projects-container">
            <div style="margin-left: 26%;" class="projects-box ">
             
              <p style="margin-top: 280px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">GMRL Laboratory Chambakkara</p>
              
              <img src="{% static 'images/WhatsApp-Image-2023-12-12-at-09.29.30_a0acc4dd.jpg' %}" alt="">
              <div class="overlay">
                <div class="text"><i class='bx bx-link'></i></div>
              </div>
              </div>
              
              
        
       
            <div style="margin-left: 10%;"  class="projects-box ">
              
              <p style="margin-top: 280px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">GMRL Laboratory Kolenchery</p>
              <img  src="{% static 'images/WhatsApp-Image-2023-12-12-at-09.28.25_3599d4a5.jpg' %}" alt="">
              
              <div class="overlay">
                <div class="text"><i class='bx bx-link'></i></div>
              </div>
            </div>
            
            <div style="margin-left: -6%;"  class="projects-box ">
              
                <p style="margin-top: 280px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">GMRL Laboratory Thripunithura</p>
                <img  src="{% static 'images/WhatsApp-Image-2023-12-12-at-09.29.12_147e99e8.jpg' %}" alt="">
                
                <div class="overlay">
                  <div class="text"><i class='bx bx-link'></i></div>
                </div>
              </div>
            </div>

            <div class="projects-container">
                <div style="margin-left: 26%;" class="projects-box ">
                 
                  <p style="margin-top: 280px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">GMRL Laboratory Vadakkekotta </p>
                  
                  <img src="{% static 'images/WhatsApp-Image-2023-12-12-at-09.28.39_b763fe45.jpg' %}" alt="">
                  <div class="overlay">
                    <div class="text"><i class='bx bx-link'></i></div>
                  </div>
                  </div>
                  </div>




            </div>









{% endblock %}