{% load static %}
<div style="background-color:  #e4e8f3;height:600px;margin-top:-40;" class="container-fluid ftb">
    <div style="margin-left:9%;width:80vw;position:relative;" class="container ttt">
        <div   class="news-events-scroll">
            <div style="margin-top:29%;background-color:#85ba32;" class="row">
                <div style="background-color:#85ba32;" class="col-lg-8 col-md-8 bii"  >
                    <div class="d-flex justify-content-start">
                        <div style="position:absolute;margin-top: 2%;margin-left:2%;">
                            <img src="{% static 'images/make-appointment (1).png' %}" alt="">
                        </div>
                        <div >
                            <h3 style="margin-left:9%;color:rgb(47, 47, 47);font-size: 20px;position:absolute;margin-top:2%;"> <span> Make an Appointment</span></h3>
                            <h6 style="margin-left:2%;color:rgb(47, 47, 47);margin-left:9%;font-size: 15px;position:absolute;margin-top:5%;">Call<span style="color: black;"> +91 81388 62626</span> or click Book Now to secure your appointment. </h6>
                        </div>
                        
                        <div style="position:absolute;margin-left:48%;margin-top:3%;">
                         <button  class="button-81" role="button">Book Now</button>
                        </div>
                    
                    </div>
                    
                    
                   
                </div>
                <div style="padding-top: 1%;font-weight:400;position:relative;" class="col-lg-4 col-md-4  ">
                    <div class="d-flex justify-content-start">
                        <div style="margin-left:5%;margin-top:4%;position:absolute;">
                            <img src="{% static 'images/openinh-hours-logo.png' %}" alt="">
                        </div>
                        <div>
                         <h5 style="color: rgb(47, 47, 47);;margin-left:26%;margin-top:2%;font-size:23px;position:absolute;font-weight:400;">Opening Hours</h5>
                         <h6 style="color: rgb(47, 47, 47);;font-size:14px;margin-top:10%; margin-left:26%;position:absolute;">Mon - Sat : 6:30pm to 6:00pm</h6>
                         <h6 style="color: rgb(47, 47, 47);;font-size:14px;margin-top:15%; margin-left:26%;position:absolute;">Sun : 6:30am - 12:30pm</h6>
                      </div>
                  </div>
              </div>
        
    </div>
        </div>
    </div>


            
    <div style="margin-top:5%;" class="containerrrr">
        <div style="margin-left: 2%; " class="row rrro">
            <div  class="col-lg-2 w5 ms-5 mx-2">
                <img style="width:200px;" src="{% static 'images/gmrl-footer-logo.svg' %}" alt="">
                
                </div>

                <div class="col-lg-2 w1 ms-0   ms-5">
                        <h4 style="color: rgb(47, 47, 47);font-weight:400;">Quick Links</h4>
                        <p style="margin-top: 10%;margin-bottom:0%;"  >Home</p>
                        <p class="my-0" >About Us</p>
                        <p class="my-0" >Packages</p>
                        <p class="my-0" >Tests</p>
                        <p class="my-0" >Gallery</p>
                        <p class="my-0" >Blog</p>
                        <a href="{% url 'app:mon' %}">
                        <p style="margin-left: -70%;" class="my-0" >Testimonials</p>
                       </a>
                        <p class="my-0" >Branches</p>
                        <p class="my-0" >Contact Us</p>
                        <p class="my-0" >Privacy Policy</p>
                        <p class="my-0" >Terms & Conditions</p>
                    </div>

                
                    <div class="col-lg-2 w1  ms-0">
                        <h4 style="color: rgb(47, 47, 47);font-weight:400;margin-left:12%;">Departments</h4>
                        <a href="{% url 'app:dep' %}">
                        <p style="margin-top: 10%;margin-bottom:0%;">Pathology</p>
                        </a>
                        <a href="{% url 'app:dep' %}">
                        <p class="my-0">Biochemistry</p>
                        </a> 
                        <a href="{% url 'app:dep' %}">
                        <p class="my-0">Microbiology</h6>
                        </a>
                        <a href="{% url 'app:dep' %}">
                        <p class="my-0">Serology</h6>
                        </a>
                        <a href="{% url 'app:dep' %}">
                        <p class="my-0">Immunology</p>
                       </a>
                       
                        <a href="{% url 'app:dep' %}">
                        <p style="margin-left: -100%;" class="my-0">Radiology</p>
                        </a>

                        <a href="{% url 'app:dep' %}">
                        <p class="my-0">Molecular Biology</p>
                        </a>
                        </div>


                        <div class="col-lg-2 w1 ms-1">
                            <h4 style="color: rgb(47, 47, 47);font-weight:400;">Our Packages</h4>
                            <p style="margin-top: 10%;margin-bottom:0%;">Executive Package</p>
                            <p class="my-0">Ayush General</p>
                            <p class="my-0">Ayush Silver Plan</p>
                            <p class="my-0">Ayush Diabetic & Kidney Care</p>
                            <p class="my-0">Ayush Gold</h6>
                            <p class="my-0">Advanced Cardiac Risk Cover Package</p>
                          
    
    
                                
                            </div>


                      <div class="col-lg-2 w3  ms-4">
                        <h4 style="color: rgb(47, 47, 47);font-weight:400;"> Get In Touch</h4>
                        <p style="margin-top: 10%;margin-bottom:0%;" >GMRL Laboratories Chambakkara, Ernakulam, Ernakulam - 682011</p>
                        <p class="my-0">+91 81388 62626</p>
                        <p class="my-0">0484 0000 0000</p>
                        <p class="my-0">info@gmrllabs.com</p>
                        <div class="d-flex justify-content-start" >
                            <div>
                               <h3 style="background-color:#3B5998 ;color:white;width:40px;height:40px;border-radius:50%;font-size:18px;padding-top:25%;padding-left:30%; margin-top:50%;"><i  class='bx bxl-facebook'></i></h3>
                            </div>
                            <div>
                                <h3 style="background-color:#55ACEE ;color:white;width:40px;height:40px;border-radius:50%;font-size:15px;padding-top:30%;padding-left:30%; margin-top:50%;margin-left:20%;"><i class='bx bxl-twitter'></i></h3>
                             </div>
                             <div>
                                <h3 style="background-color:#066ca3;color:white;width:40px;height:40px;border-radius:50%;font-size:15px;padding-top:30%;padding-left:31%; margin-top:50%;margin-left:40%;"><i class='bx bxl-linkedin'></i></h3>
                             </div>
                             <div>
                                <h3 style="background-color:#f6523f;color:white;width:40px;height:40px;border-radius:50%;font-size:15px;padding-top:30%;padding-left:31%; margin-top:50%;margin-left:60%;"><i class='bx bxl-instagram'></i></h3>
                             </div>

                        </div>
                               
                       
        
                                    
                                </div>











            </div>
        </div>








    </div>
        <div style="background-color: #d6d9e3;color:#666666;height:80px;padding-top:2%;padding-left:10%;" class="container-fluid">
            <p >© 2024 GMRL Labs. All Right Reserved.</p>
        </div>

