{% extends 'base.html' %}
{% load static %}
{% block content %}

<div  id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>
    <div style="margin-top: -19;" class="carousel-inner">
        {% include 'nav.html' %}
      <div class="carousel-item active">
        
        <div style="background-color:#f1f1f1; " class="row">
            <div  style="z-index: 0; position:relative;margin-top:-5%; background-image: linear-gradient(white, rgb(227, 241, 244)) ;" class="col-lg-6">
                <div class="banner-caption-wrapper">
                    <div class="align">
                        <h2 style="margin-top: 25%;margin-left:13%;font-family:Oswald, sans-serif;font-size:60px;font-weight:200;">Unlocking Vital <br />
                        Insights: Your Blood, Your Lab</h2>
                        <p style="margin-left:13%;">Unlocking Vital Insights: Where Your Blood Holds the Key to Your <br />
                            Health – Welcome to Your Trusted Laboratory.</p>
                        <a href="#">
                        <button style=" margin-top: 20%;margin-left: 100px;padding-left:12%;"class="button-88 ;" role="button">Learnmore</button>
                        </a>
                    </div>
                </div>
            </div>
            <div style="z-index: 0;" class="col-lg-6">
                                    <img style="z-index: 0; position:relative;margin-top:-10%;margin-left:-4%;"  height="760" src="{% static 'images/banner-01.jpg' %}" class="attachment-large size-large wp-post-image" alt="GMRL" decoding="async" loading="lazy" />                 
            </div>
        </div>
    </div>































    
      <div class="carousel-item">
        
        <div style="background-color:#e4e8f3;" class="row">
            <div  style="z-index: 0; position:relative;margin-top:-5%; background-image: linear-gradient(white, rgb(227, 241, 244)) ;" class="col-lg-6">
                <div class="bann">
                    <div class="capt">
                        <h2 style="margin-top: 25%;margin-left:13%;font-family:Oswald, sans-serif;font-size:60px;font-weight:200;">Your Journey to <br />
                        Wellness: Precision Diagnostics, <br />
                        Compassionate Care.</h2>
                        <p style="margin-left: 13%;">Experience excellence in healthcare at our state-of-the-art lab, <br />
                        where precision meets compassion for your well-being.</p>
                        <a href="#">
                            <button style=" margin-top: 20%;margin-left: 100px;padding-left:12%;"class="button-88" role="button">Learnmore</button>
                            </a>
                    </div>
                </div>
            </div>
            <div style="z-index: 0;" class="col-lg-6">
                                    <img style="z-index: 0; position:relative;margin-top:-10%;margin-left:-4%;" height="760" src="{% static 'images/banner-02.jpg' %}" class="attachment-large size-large wp-post-image" alt="Best labs in kochi" decoding="async" loading="lazy" />                 
            </div>
        </div>
    </div>
  
      </div>
    
    </div>
    <div style="z-index: 10;position:absolute;margin-left:10%;width:80vw;" class="container tt">
        <div  style="z-index: 100;" class="news-events-scroll">
            <div style="margin-top: 21.5%;z-index:10;background-color:#85ba32;" class="row">
                <div style="background-color:rgba(119, 167, 45, 1);" class="col-lg-3 col-md-4  ">
                  
                    <h3 style="margin-top: 2%;margin-left:2%;"> <img style="width: 20px;margin-left:15%;" src="{% static 'images/bullhorn-solid (2).svg' %}" alt=""><span style="font-size: 20px;font-weight:700;margin-left:5%;">News & Events</span></h3>
                
                </div>
                <div style="padding-top: 1%;font-weight:400;" class="col-lg-9 col-md-8">
                    <marquee behavior="" direction="">Stay Updated with GMRL: Exciting News and Events Await! Explore the latest in health breakthroughs, special promotions, and community engagements right here. Check back often for updates that keep you informed and inspired.</marquee>
                </div>
            </div>
        </div>
        </div>




        <section class="welcome-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 pe-lg-5">
                                            <img style="margin-top: 20%;margin-left:9%;" width="450" height="500" src="{% static 'images/welcome-image.jpg' %}" class="attachment-large size-large wp-post-image" alt="Best Laboratory in Ernakulam" decoding="async" fetchpriority="high" />                 
                    </div>
                    <div style="margin-top: 7%;" class="col-lg-7 ps-lg-4">
                        
        <h6  class="wp">Welcome to GMRL Labs</h6>
        
        
        
        <h2 style="font-family:Oswald, sans-serif;" class="wp-block-heading">Elevating Health Through<br>Precision Diagnostics: GMRL Laboratories</h2>
        
        
        
        <p><strong>Welcome To GMRL Laboratories</strong></p>
        
        
        
        <p> Best Laboratory in Ernakulam, a beacon of healthcare excellence situated in the heart of Thrippunithura. Our commitment is to bring you comprehensive and affordable Health Check-Up Packages, ensuring your well-being is our top priority.</p>
        
        
        
        <p><strong>Cutting-edge Technology for Accurate Results</strong></p>
        
        
        
        <p>At GMRL Laboratories, our state-of-the-art facility is equipped with fully automated analyzers, demonstrating our dedication to excellence. Additionally, these analyzers undergo daily verification against<a href="https://en.wikipedia.org/wiki/Bio-Rad_Laboratories"><span style="color: rgb(0, 115, 255);">Biorad</span></a> USA Quality Controls, assuring you not only accuracy but also reliability in every diagnostic result. Moreover, we understand the significance of your health, and our stringent quality assurance practices reflect our commitment to providing the best possible care.</p>
        
        
        
        <p><strong>Guiding You Through Your Health Journey</strong></p>
        
        
        
        <p>Our team of dedicated professionals is here to guide you through every step of your health assessment journey. With a mission to provide the highest standard of care and convenience, we ensure that your experience at GMRL Laboratories is both seamless and empowering. Your health is not just a diagnosis to us; it&#8217;s a journey, and we&#8217;re honored to be your trusted partner on the path to a healthier, happier life.</p>
        
        
        
        <p><strong>The Human Touch in Healthcare</strong></p>
        
        
        
        <p>What sets us apart is not just our advanced technology but the human touch we bring to healthcare. We believe in creating a supportive environment where you feel informed and cared for. Furthermore, from precise testing to comprehensive health assessments, we strive to make your experience with GMRL Laboratories both enriching and reassuring.</p>
        
        
        
        <p><strong>Looking Ahead with Innovation</strong></p>
        
        
        
        <p>As we look ahead, our commitment to innovation and excellence remains unwavering. We understand that a proactive approach to healthcare is essential. Therefore, we are here to empower you with the knowledge and insights needed to make informed decisions about your well-being.</p>
        
        
        
        <p><strong>Choose GMRL Laboratories for Optimal Health</strong></p>
        
        
        
        <p>Best laboratory in Ernakulam for a healthcare experience that goes beyond expectations – where cutting-edge technology meets compassionate care. Your journey to optimal health begins with us, and we&#8217;re excited to be a part of it. Trust <a href="https://www.gmrllabs.in/"><span style="color: rgb(6, 93, 255);">GMRL Laboratories</span></a>, where your health is our passion, and your well-being is our commitment.</p>
        <a href="#">
            <button style=" margin-top: 30%;padding-left:12%;"class="button-89" role="button">Learn More</button>
            </a>
                    </div>
                </div>
            </div>




            <div style="margin-top:7%;" class="container">
                <div style="margin-left: 2%;margin-bottom:-1%; " class="row whyrw">
                    <div  class="col-lg-2 whyy1 ms-5 mx-3">
                        
                        <div class="container heal">
                            <img style="width: 70px; margin-top:23%;margin-left:-6%;" src="{% static 'images/boxxxxxxx bl.jpg' %}" alt="Avatar" class="image">
                            <div class="overlayy">
                              <div class="textt">
                                <img style="width: 75px;" src="{% static 'images/boooooxxxxx gr.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>



                            <div class="why_content text-center">
                                <div class="why_title">
                                    <p>Book An Appointmen<p>
                                </div>
                               
                            </div>
                        </div>

                        <div class="col-lg-2 whyy2   mx-3">
                        
                            <div class="container heal">
                                <img style="width: 70px; margin-top:23%;margin-left:-10%;" src="{% static 'images/locaaaaaa bl.jpg' %}" alt="Avatar" class="image">
                                <div class="overlayy">
                                  <div class="textt">
                                    <img style="width: 75px;margin-left:-7%;" src="{% static 'images/locaccaca gr.jpg' %}" alt="">
                                  </div>
                                </div>
                              </div>
    
    
    
                                <div class="why_content text-center">
                                    <div class="why_title">
                                        <p style="margin-left:-13%;">Reach</p>
                                    </div>
                                   
                                </div>
                            </div>

                        
                            <div class="col-lg-2 whyy3 mx-3">
                        
                                <div class="container heal">
                                    <img style="width: 70px; margin-top:23%;" src="{% static 'images/baggggg bl.jpg' %}" alt="Avatar" class="image">
                                    <div class="overlayy">
                                      <div class="textt">
                                        <img style="width: 75px;" src="{% static 'images/baagggg gr.jpg' %}" alt="">
                                      </div>
                                    </div>
                                  </div>
        
        
        
                                    <div class="why_content text-center">
                                        <div class="why_title">
                                            <p>Health Packages</p>
                                        </div>
                                       
                                    </div>
                                </div>


                                <div class="col-lg-2 whyy4 mx-3">
                        
                                    <div class="container heal">
                                        <img style="width: 70px; margin-top:23%;margin-left:33%;" src="{% static 'images/mcrrr bl.jpg' %}" alt="Avatar" class="image">
                                        <div class="overlayy">
                                          <div class="textt">
                                            <img style="width: 75px;margin-left:23%;" src="{% static 'images/micrrrrrrrrrrrrttfth grr.jpg' %}" alt="">
                                          </div>
                                        </div>
                                      </div>
            
            
            
                                        <div class="why_content text-center">
                                            <div class="why_title">
                                                <p style="margin-left: 14%;">Available Tests</p>
                                            </div>
                                           
                                        </div>
                                    </div>


                              <div class="col-lg-2 whyy5  mx-4">
                        
                                        <div style="margin-left: 50%;" class="container heal">
                                            <img style="width: 70px; margin-top:23%;" src="{% static 'images/hooooom bl.jpg' %}" alt="Avatar" class="image">
                                            <div class="overlayy">
                                              <div class="textt">
                                                <img style="width: 75px;" src="{% static 'images/hoommm gr.jpg' %}" alt="">
                                              </div>
                                            </div>
                                          </div>
                
                
                
                                            <div class="why_content text-center">
                                                <div class="why_title">
                                                    <p style="margin-left: 45%;">Home Visit</p>
                                                </div>
                                               
                                            </div>
                                        </div>











                    </div>
                </div>
         
             
        </section>
        
        
        <div style="background-color:  #e4e8f3;margin-top:10%;padding-top:5%;height:650px;" class="container-fluid der">
            <div>
            <h2 style="text-align: center;font-family:Oswald, sans-serif;font-size:50px;font-weight:300;" class="home-page-heading">Diverse Departments <br>
                for Comprehensive Health Services</h2>
            </div>





            
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class=" d-flex flex-wrap justify-content-center pee my-0 mx-2 pt-5 mt-3">
          <div class="card my-2 mx-2 pi" style="width: 240px;height:200px;">
            <a href="#">
  
              <img style="margin-top: 20%; margin-left:-15%;" src="{% static 'images/department-icon.png' %}" alt="First slide">
            </a>
            <h6  style="color:rgb(35, 35, 35);margin-left:30%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Pathology</h6>
            </div>
            <div class="card my-2 mx-2 pi"style="width: 240px;height:200px;" >
              <a href="#">
    
                <img style="margin-top: 20%; margin-left:-15%;" src="{% static 'images/bio-chemistry.png' %}" alt="First slide">
              </a>
              <h6 style="color:rgb(35, 35, 35);margin-left:30%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Bio chemistry</h6>
              </div>
              <div class="card my-2 mx-2 pi" style="width: 240px;height:200px;" >
                <a href="#">
      
                  <img style="margin-top: 20%; margin-left:-15%;" src="{% static 'images/microbiology.png' %}" alt="First slide">
                </a>
                <h6  style="color:rgb(35, 35, 35);margin-left:30%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Microbiology</h6>
                </div>
              <div class="card my-2 mx-2 pi" style="width: 240px;height:200px;" >
                  <a href="#">
        
                    <img style="margin-top: 20%; margin-left:-15%;"  src="{% static 'images/Serology.png' %}" alt="First slide">
                  </a>
                  <h6  style="color:rgb(35, 35, 35);margin-left:37%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Serology</h6>
                  </div>
                  <div class="card my-2 mx-2 pi"style="width: 240px;height:200px;" >
                    <a href="#">
          
                      <img style="margin-top: 20%; margin-left:-15%;" src="{% static 'images/Immunology.png' %}" alt="First slide">
                    </a>
                    <h6  style="color:rgb(35, 35, 35);margin-left:30%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Immunology</h6>

                    </div>
      
    
  
  
  
  
      </div>
    </div>
      <div class="carousel-item">
        <div class=" d-flex flex-wrap justify-content-center pee my-0 mx-2 pt-5 mt-3">
         <div class="card my-2 mx-2 pi" style="width: 240px;height:200px;">
          <a href="#">
  
            <img style="margin-top: 20%; margin-left:-15%;" src="{% static  'images/microbiology.png' %}" alt="First slide">
          </a>
          <h6  style="color:rgb(35, 35, 35);margin-left:30%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Microbiology</h6>
          </div>
  
          <div class="card my-2 mx-2 pi" style="width: 240px;height:200px;">
            <a href="#">
    
              <img style="margin-top: 20%; margin-left:-15%;"  src="{% static 'images/Serology.png' %}" alt="First slide">
            </a>
            <h6  style="color:rgb(35, 35, 35);margin-left:37%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Serology</h6>
            </div>
  
            <div class="card my-2 mx-2 pi"style="width: 240px;height:200px;">
              <a href="#">
      
                <img style="margin-top: 20%; margin-left:-15%;"  src="{% static 'images/Immunology.png' %}" alt="First slide">
              </a>
              <h6  style="color:rgb(35, 35, 35);margin-left:30%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Immunology</h6>
              </div>
              
            <div class="card my-2 mx-2 pi" style="width: 240px;height:200px;">
                <a href="#">
        
                  <img  style="margin-top: 20%; margin-left:-15%;" src="{% static 'images/radiology.png' %}" alt="First slide">
                </a>
                <h6  style="color:rgb(35, 35, 35);margin-left:37%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">Radiology</h6>
                </div>
                
            <div class="card my-2 mx-2 pi" style="width: 240px;height:200px;">
                <a href="#">
        
                  <img style="margin-top: 20%; margin-left:-15%;" src="{% static 'images/molecular-biology.png' %}" alt="First slide">
                </a>
                    <h6 style="color:rgb(35, 35, 35);margin-left:27%;margin-top:10%;"onmouseover="this.style.color='#22419c'" onmouseout="this.style.color='black'">   Molecular biology</h6>
                </div>
       </div>
      </div>
      <div style="margin-top:20%; margin-left:50%;">
        <button class="dot"  data-bs-target="#carouselExampleControls" data-bs-slide="prev">
     
    </button>
    <button class="dot"  data-bs-target="#carouselExampleControls" data-bs-slide="next">
    
     
    </button>
    
        

     </div>
  </div>
  </div>
  











            
            

  <div style="margin-left:6%;width:90vw;" class="container tt">
    <div   class="news-events-scroll">
        <div style="margin-top:29%;background-color:#85ba32;" class="row">
            <div style="background-color:#22419c;" class="col-lg-8 col-md-8"  >
              
                <h3 style="margin-top: 2%;margin-left:8%;color:white;font-size: 30px;"> <span> Emergency Call:</span></h3>
                <h6 style="margin-top: -3%;margin-left:2%;color:white;"> <i style="font-size: 50px;" class='bx bxs-phone'></i><span style="margin-left: 1%;">Immediate Assistance Available - Dial Now!</span> <span style="margin-left: 15%;font-size: 35px;">+91 81388 62626</span></h6>
            </div>
            <div style="padding-top: 1%;font-weight:400;" class="col-lg-4 col-md-4  ">
                <h6 style="color: white;margin-left:18%;margin-top:3%;font-size:20px;">Download</h6>
                <h4 style="color: white;font-size:40px; margin-top:-3%;margin-left:6%;"><i  class="fa fa-download" aria-hidden="true"></i><span style="margin-left:2%;">BROCHURE</span></h4>
            </div>
        </div>
    </div>
    </div>


    


                      
                    </div>

                    
                    <div style="margin-top: 10%;color:white;" class="container-fluid pck ">



                      <div  class="row">
                        <div class="col-lg-6">
                          <h2 style="font-family:Oswald, sans-serif;font-size:50px;color:rgb(35, 35, 35);margin-left:18%;font-weight:300;">GMRL Laboratories:
                            Unveiling Our Range of Health Packages</h2>
                        </div>
                        <div  class="col-lg-6">
                          <button style="margin-left:68%; margin-top: 10%;width:110px;padding:2%;padding-left:2%;"class="button-88 " role="button">viewmore</button>
                        </div>
                            
                        </div>


                    <div  id="carouselExampleControlss" class="carousel slide" data-bs-ride="carousel">
                      <div  class="carousel-inner">
                        <div style="background-color: white;" class="carousel-item active ">
                          <div  class="projects-container">
                            <div style="margin-left:26%;" class="projects-box">
                              <div>
                                <h6 style="position: absolute;background-color:white;color:#22419c;margin-top:3%;margin-left:68%;width:120px;height:30px;padding:1%;padding-left:4%;font-weight:bold;z-index:9999;" >From: ₹ 2499</h6>
                              </div>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">Executive package <i style="font-size: 30px;margin-left:200px;" class='bx bx-chevron-right'></i></h6>
                              <img  src="{% static 'images/executive-package.jpg' %}" alt="">
                              
                            
                              <div class="overlay">
                                <div class="text"><i class='bx bx-link'></i></div>
                              </div>
                               
                              </div>
                        
                        
                            <div style="margin-left: 10%;" class="projects-box">
                              <div>
                                <h6 style="position: absolute;background-color:white;color:#22419c;margin-top:3%;margin-left:68%;width:120px;height:30px;padding:1%;padding-left:4%;font-weight:bold;z-index:9999;" >From: ₹ 699</h6>
                              </div>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">Ayush General<i style="font-size: 30px;margin-left:200px;" class='bx bx-chevron-right'></i></h6>
                              <img  src="{% static 'images/package2.jpg' %}" alt="">
                              
                              <div class="overlay">
                                <div class="text"><i class='bx bx-link'></i></div>
                              </div>
                                
                           
                              </div>
                             
                         
                        
                            <div  style="margin-left: -6%;" class="projects-box">
                              <div>
                                <h6 style="position: absolute;background-color:white;color:#22419c;margin-top:3%;margin-left:68%;width:120px;height:30px;padding:1%;padding-left:4%;font-weight:bold;z-index:9999;" >From: ₹ 999</h6>
                              </div>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">Ayush Silver Plan<i style="font-size: 30px;margin-left:200px;" class='bx bx-chevron-right'></i></h6>
                              <img src="{% static 'images/package3.jpg' %}" alt="">

                              <div class="overlay">
                                <div class="text"><i class='bx bx-link'></i></div>
                              </div>
                              </div>
                            </div>
                            
                          </div>
                          
                        
                        <div style="background-color: white;" class="carousel-item">
                          <div class="projects-container">
                            <div style="margin-left: 26%;" class="projects-box ">
                              <div>
                                <h6 style="position: absolute;background-color:white;color:#22419c;margin-top:3%;margin-left:68%;width:120px;height:30px;padding:1%;padding-left:5%;font-weight:bold;z-index:9999;" >From: ₹ 999</h6>
                              </div>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">Ayush Diabetic &amp; Kidney Care </h6>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:350px;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'"><i style="font-size: 30px;" class='bx bx-chevron-right'></i></h6>
                              <img src="{% static 'images/package4.jpg' %}" alt="">
                              <div class="overlay">
                                <div class="text"><i class='bx bx-link'></i></div>
                              </div>
                              
                              </div>
                        
                        
                            <div style="margin-left: 10%;"  class="projects-box ">
                              <div>
                                <h6 style="position: absolute;background-color:white;color:#22419c;margin-top:3%;margin-left:68%;width:120px;height:30px;padding:1%;padding-left:4%;font-weight:bold;z-index:9999;" >From: ₹ 1700</h6>
                              </div>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">Ayush Gold <i style="font-size: 30px;margin-left:200px;" class='bx bx-chevron-right'></i></h6>
                              <img  src="{% static 'images/package5.jpg' %}" alt="">
                              
                              <div class="overlay">
                                <div class="text"><i class='bx bx-link'></i></div>
                              </div>
                                
                              
                              </div>
                         
                        
                            <div style="margin-left: -6%;" class="projects-box ">
                              <div>
                                <h6 style="position: absolute;background-color:white;color:#22419c;margin-top:3%;width:120px;margin-left:68%;height:30px;padding:1%;padding-left:4%;font-weight:bold;z-index:9999;" >From: ₹ 4900</h6>
                              </div>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:5%;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'">Advanced Cardiac Risk Cover Package</h6>
                              <h6 style="margin-top: 300px;color:rgb(61, 61, 61); margin-left:350px;position:absolute;"onmouseover="this.style.color='white'" onmouseout="this.style.color='black'"><i style="font-size: 30px;" class='bx bx-chevron-right'></i></h6>
                              <img src="{% static 'images/cardiac.jpg' %}" alt="">
                              <div class="overlay">
                                <div class="text"><i class='bx bx-link'></i></div>
                              </div>
                               
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                      <div style="margin-top:3%; margin-left:50%;">
                      <button class="dot"  data-bs-target="#carouselExampleControlss" data-bs-slide="prev"> </button>
                      <button class="dot"  data-bs-target="#carouselExampleControlss" data-bs-slide="next"> </button>
                    
                     
                
                    
                        
                
                     </div>
                      
          
                  
        
                    </div>



                    <div style="background-color:  #e4e8f3;margin-top:5%;padding-top:5%;height:650px;" class="container-fluid der">




                      <h2 style="text-align:center;font-family:Oswald, sans-serif;font-size:50px;color:rgb(35, 35, 35);">Our Testimonials</h2>
                      
                      
                      
                      
                      <div  id="carouselExampleControlsss" class="carousel slide" data-bs-ride="carousel">
                        <div  class="carousel-inner">
                          <div  class="carousel-item active ">
                            <div  class="projects-containerr">
                              <div style="margin-left:26%;" class="projects-boxx">
                                <div class="uss d-flex justify-content-start">
                                  <div>
                                    <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:57%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                                  </div>
                                    <h5 style="position: absolute;margin-top:59%;margin-left:25%;font-size:16px;color:#535353">
                                      Josey
                                    </h5>
                                    <h6 style="position: absolute;margin-top:65%;margin-left:26%;font-size:13px;color:#666666">
                                      Thripunithura
                                    </h6>


                                </div>





                                 <div class="testy">
                                  <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Excellent place to go for clinical reports, all kind<br> of tests are available there. Very professional<br> staff's and good environment.</p>
                                 </div>
                              
                                 
                                </div>
                          
                          
                              <div style="margin-left: 10%;" class="projects-boxx">


                                <div class="uss d-flex justify-content-start">
                                  <div>
                                    <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:57%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                                  </div>
                                    <h5 style="position: absolute;margin-top:59%;margin-left:25%;font-size:16px;color:#535353">
                                      shaza
                                    </h5>
                                    <h6 style="position: absolute;margin-top:65%;margin-left:26%;font-size:13px;color:#666666">
                                      Chambakkara
                                    </h6>


                                </div>
                                <div class="testy">
                                  <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Very friendly, prompt and quick service. No<br> complicated procedures involved. Would <br>definitely recommend.</p>
                                </div>
                                
                                
                               
                                  
                             
                                </div>
                               
                           
                          
                              <div  style="margin-left: -6%;" class="projects-boxx">

                                <div class="uss d-flex justify-content-start">
                                  <div>
                                    <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:57%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                                  </div>
                                    <h5 style="position: absolute;margin-top:59%;margin-left:25%;font-size:16px;color:#535353">
                                      Eldhose
                                    </h5>
                                    <h6 style="position: absolute;margin-top:65%;margin-left:26%;font-size:13px;color:#666666">
                                      Chambakkara
                                    </h6>


                                </div>





                                <div class="testy">
                                  <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Your home collection facility was very nice and<br> helpful for us. Those who came to collect the<br> samples were professionally skillful, Thank u</p>
                                </div>
                              
                                
                                </div>
                              </div>
                              
                            </div>
                            
                          
                          <div class="carousel-item">
                            <div class="projects-containerr">
                              <div style="margin-left: 26%;" class="projects-boxx ">
                                <div class="uss d-flex justify-content-start">
                                  <div>
                                    <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:57%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                                  </div>
                                    <h5 style="position: absolute;margin-top:59%;margin-left:25%;font-size:16px;color:#535353">
                                      Eldhose
                                    </h5>
                                    <h6 style="position: absolute;margin-top:65%;margin-left:26%;font-size:13px;color:#666666">
                                      Chambakkara
                                    </h6>


                                </div>




                               <div class="testy">
                                <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Your home collection facility was very nice and helpful for us. Those who came to collect the samples were professionally skillful, Thank u</p>
                               </div>
                                  
                                
                                </div>
                          
                          
                              <div style="margin-left: 10%;"  class="projects-boxx ">
                                <div class="uss d-flex justify-content-start">
                                  <div>
                                    <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:57%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                                  </div>
                                    <h5 style="position: absolute;margin-top:59%;margin-left:25%;font-size:16px;color:#535353">
                                      Krishnakumar
                                    </h5>
                                    <h6 style="position: absolute;margin-top:65%;margin-left:26%;font-size:13px;color:#666666">
                                      Chambakkara
                                    </h6>


                                </div>




                                
                                  <div class="testy">
                                    <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">We had used GMRL's services twice. Both the times the experience was wonderful. Right from the time of booking, their follow up, coordination,<br> home collection, payment process, result sharing<br> is all seamless. I am very happy to see such<br> polite, and professional staff. Great job team!...</p>
                                  </div>
                                
                                
                                </div>
                           
                          
                              <div style="margin-left: -6%;" class="projects-boxx ">



                                <div class="uss d-flex justify-content-start">
                                  <div>
                                    <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:57%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                                  </div>
                                    <h5 style="position: absolute;margin-top:59%;margin-left:25%;font-size:16px;color:#535353">
                                     Abhinandh
                                    </h5>
                                    <h6 style="position: absolute;margin-top:65%;margin-left:26%;font-size:13px;color:#666666">
                                      Thripunithura
                                    </h6>


                                </div>
                                
                                <div class="testy">
                                    <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Good service from here. Gets report at same day, very fast service.</p>
                                </div>

                                
                                 
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                        <div style="margin-top:3%; margin-left:50%;">
                        <button class="dot"  data-bs-target="#carouselExampleControlsss" data-bs-slide="prev"> </button>
                        <button class="dot"  data-bs-target="#carouselExampleControlsss" data-bs-slide="next"> </button>
                      
                       
                  
                      
                          
                  
                       </div>







                   </div>


                   <div  style="height:500px;" class="container-fluid ">
                    <div  class="row">
                      <div class="col-lg-8">
                        <h2 style="font-family:Oswald, sans-serif;font-size:45px;color:rgb(35, 35, 35);margin-left:18%;font-weight:300;margin-top:10%;">Embrace Excellence:<br>
                          Why GMRL Laboratories Stands Out
                        </h2>
                        <p style="margin-top:5%;margin-left:18%;color:#4f4f4f;font-family:'Roboto', sans-serif;font-size:16px;" >At GMRL Laboratories, we stand out as a beacon of excellence, offering top-notch diagnostic services and a commitment to your well-being.</p>
                        <p style="margin-left:18%;color:#666666;font-family:'Roboto', sans-serif;font-size:16px;" ><img src="{% static 'images/icons8-check-mark-24.png' %}"> Cutting-edge, precision diagnostic technology</p>
                        <p style="margin-left:18%;color:#666666;font-family:'Roboto', sans-serif;font-size:16px;" ><img src="{% static 'images/icons8-check-mark-24.png' %}"> A highly skilled, dedicated team of healthcare professionals</p>
                        <p style="margin-left:18%;color:#666666;font-family:'Roboto', sans-serif;font-size:16px;" ><img src="{% static 'images/icons8-check-mark-24.png' %}"> Stringent quality control protocols to ensure result accuracy</p>
                        <p style="margin-left:18%;color:#666666;font-family:'Roboto', sans-serif;font-size:16px;" ><img src="{% static 'images/icons8-check-mark-24.png' %}"> An extensive selection of comprehensive Health Check Up Packages</p>
                        <p style="margin-left:18%;color:#666666;font-family:'Roboto', sans-serif;font-size:16px;" ><img src="{% static 'images/icons8-check-mark-24.png' %}"> Competitive and accessible pricing to promote your health</p>
                        <p style="margin-left:18%;color:#666666;font-family:'Roboto', sans-serif;font-size:16px;" ><img src="{% static 'images/icons8-check-mark-24.png' %}"> Convenient, patient-centric services for your well-being</p>
                        
                          <button style="margin-left:20%; margin-top: 10%;width:110px;padding:2%;padding-left:1.5%;"class="button-88 " role="button">LearnMore</button>
                         
                         
                      </div>
                      <div  class="col-lg-4">
                          
                          <div class="container jkk">


                            <h2 style="font-family:Oswald, sans-serif;font-size:45px;color:rgb(35, 35, 35);text-align:center;">Enquiry</h1>
                            <p style="text-align: center;color:#666666;font-family:'Roboto', sans-serif;font-size:16px;" >For any inquiries, please feel free to<br>
                              reach out to us.</p>

                              <form class="form-horizontal" >
                               
                                  
                                    <div class="form-group my-3 ">
                                    <input style="border-style:groove;border-color: rgb(101, 177, 209);" type="text" name="name" class="form-control"  placeholder="Your Name">
                                 </div>
                             
                               
                                
                                <div class="form-group my-3 ">
                                    <input style="border-style:groove;border-color: rgb(101, 177, 209);" type="email" name="email" class="form-control"  placeholder="email">
                                </div>
                             
                                
                             
                                <div class="form-group my-3 ">
                                    <input style="border-style:groove;border-color: rgb(101, 177, 209);" type="number"  name="phone" class="form-control"  placeholder="Phone">
                                </div>
                             
                                <div class="form-group my-2 ">
                                  <textarea style="padding-left: 2%;padding-top: 2%;border-radius:2%;border-style:groove;border-color: rgb(101, 177, 209);" name="" id="" cols="40" rows="3" placeholder="Your Message"></textarea>
                                </div>
                  
                                
                               
                             
                                <div class="form-group mb-5 mx-auto my-1">
                             
                                        <button  class="button-8"  type="submit" >SUBMIT</button>


                                         

  









                             
                                </div>
                              
                             
                             </form>


                            </div> 


                          </div>
                      </div>



                   </div>

















































           
              












































{% endblock %}