
{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'nav.html' %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <div class="innerpage-banner">
        <div class="container-fluid">
            <div class="row">
                <div style="z-index: 0; position:relative;margin-top:-5%; background-image: linear-gradient(white, rgb(238, 239, 246)) ;margin-left:0%;" class="col-lg-6">
                    <div  class="innerpage-banner-heading">
                        <span>
                            <h2 style="margin-top: 30%;margin-left:10%;font-weight:bold;font-family:Oswald, sans-serif;font-size:60px;font-weight:200;">Testimonials</h2>
                                                       
                                             
                    </div>
                </div>
                <div class="col-lg-6">
                <img style="z-index: 0; position:relative;margin-top:-18%;margin-left:-3%;"width="770" height="650" src="{% static 'images/placeholder.jpg' %}" class="attachment-large size-large" alt="Gmrl" decoding="async" fetchpriority="high" />			</div>
            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div  class="projects-containerr">
                <div  style="margin-left:26%;height:250px;" class="projects-boxx">
                  <div class="uss d-flex justify-content-start">
                    <div>
                      <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:45%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                    </div>
                      <h5 style="position: absolute;margin-left:25%;margin-top:46%;font-size:16px;color:#535353">
                        Josey
                      </h5>
                      <h6 style="position: absolute;margin-left:25%;margin-top:52%;font-size:13px;color:#666666">
                        Thripunithura
                      </h6>


                  </div>





                   <div style="height: 160px;" class="testy">
                    <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Excellent place to go for clinical reports, all kind<br> of tests are available there. Very professional<br> staff's and good environment.</p>
                   </div>
                
                   
                  </div>
            
            
                <div style="margin-left: 10%;height:250px;" class="projects-boxx">


                  <div class="uss d-flex justify-content-start">
                    <div>
                      <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:45%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                    </div>
                      <h5 style="position: absolute;margin-top:46%;margin-left:25%;font-size:16px;color:#535353">
                        shaza
                      </h5>
                      <h6 style="position: absolute;margin-top:52%;margin-left:26%;font-size:13px;color:#666666">
                        Chambakkara
                      </h6>


                  </div>
                  <div style="height:160px;" class="testy">
                    <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Very friendly, prompt and quick service. No<br> complicated procedures involved. Would <br>definitely recommend.</p>
                  </div>
                  
                  
                 
                    
               
                  </div>
                 
             
            
                <div  style="margin-left: -6%;height:250px;" class="projects-boxx">

                  <div class="uss d-flex justify-content-start">
                    <div>
                      <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:45%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                    </div>
                      <h5 style="position: absolute;margin-top:46%;margin-left:25%;font-size:16px;color:#535353">
                        Eldhose
                      </h5>
                      <h6 style="position: absolute;margin-top:52%;margin-left:26%;font-size:13px;color:#666666">
                        Chambakkara
                      </h6>


                  </div>





                  <div style="height: 160px;" class="testy">
                    <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Your home collection facility was very nice and<br> helpful for us. Those who came to collect the<br> samples were professionally skillful, Thank u</p>
                  </div>
                
                  
                  </div>
                </div>




        </div>
        <div class="projects-containerr">
            
        
        
            <div style="margin-left: 27%;"  class="projects-boxx ">
              <div class="uss d-flex justify-content-start">
                <div>
                  <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:57%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                </div>
                  <h5 style="position: absolute;margin-top:59%;margin-left:25%;font-size:16px;color:#535353">
                    Krishnakumar
                  </h5>
                  <h6 style="position: absolute;margin-top:65%;margin-left:26%;font-size:13px;color:#666666">
                    Chambakkara
                  </h6>


              </div>




              
                <div class="testy">
                  <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">We had used GMRL's services twice. Both the times the experience was wonderful. Right from the time of booking, their follow up, coordination,<br> home collection, payment process, result sharing<br> is all seamless. I am very happy to see such<br> polite, and professional staff. Great job team!...</p>
                </div>
              
              
              </div>
         
        
            <div style="margin-left: 15%;height:250px;margin-top:-10%;" class="projects-boxx ">



              <div class="uss d-flex justify-content-start">
                <div>
                  <h3 style="position:absolute;background-color: #e4e8f3;color:white;width:60px;height:60px;border-radius:50%;font-size:40px;margin-top:45%;margin-left:5%;padding-top:2%;padding-left:2.5%"><i class='bx bxs-user'></i></h3>
                </div>
                  <h5 style="position: absolute;margin-top:46%;margin-left:25%;font-size:16px;color:#535353">
                   Abhinandh
                  </h5>
                  <h6 style="position: absolute;margin-top:52%;margin-left:26%;font-size:13px;color:#666666">
                    Thripunithura
                  </h6>


              </div>
              
              <div style="height: 160px;" class="testy">
                  <p style="color: #666666;font-family:'Roboto', sans-serif;font-size:16px;font-style:italic;margin-left:5%;margin-top:7%;">Good service from here. Gets report at same day, very fast service.</p>
              </div>

              
               
              </div>
            </div>






    {% endblock %}