{% load static %}
<div style="background-color:white;" class="container-fluid top margin-top:10%;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-6">
            <div style="margin-top: 1%;" class="soc">
                <a style="margin-left:37%;z-index:100;position:absolute;" href="" class="fb" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a style="margin-left:40%;z-index:100;position:absolute;" href="" class="tw " target="_blank"><i class='bx bxl-twitter' ></i></a>
                <a style="margin-left:43%;z-index:100;position:absolute;"href="" class="li " target="_blank"><i class='bx bxl-linkedin' ></i></a>
                <a style="margin-left:46%;z-index:100;position:absolute;"href="" class="in " target="_blank"><i class='bx bxl-instagram' ></i></a>
            </div>
        </div>
        <div style="z-index: 10;" class="col-lg-6 col-md-6 col-6"><a href="{% url 'app:make' %}" class="makeappointment">Make An Appointment</a></div>
    </div>
</div>


<header class="header" id="header">
     
    <a  href="{% url 'app:home' %}" class="logo" ><img style="width:280px; margin-left:10%" src="{% static 'images/gmrl-logo.svg' %}" alt=""></a>
   
    <nav class="navbar ">
        <a  class="hoo ms-0" href="{% url 'app:about' %}">ABOUT US</a>
        <a  class="hoo" href="{% url 'app:test' %}">TESTS</a>
        <a  class="hoo" href="{% url 'app:package' %}">PACKAGES</a>
        <a  class="hoo" href="{% url 'app:blog' %}">BLOG</a>
        <a  class=" hoo"href="{% url 'app:gal' %}">GALLERY</a>
        <a  class=" hoo"href="{% url 'app:branch' %}">BRANCHES</a>
        <a  class=" hoo"href="{% url 'app:contact' %}">CONTACT US</a>
      </nav>
  
</header>


<div id="whatsapp">

    <a href="" class="btn-whatsapp-pulse">
    <i class='bx bxl-whatsapp'></i>
    </a>
    
   
</div>