{% load static %}
<div style="background-color:white;" class="container-fluid top margin-top:10%;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-6">
            <div style="margin-top: 1%;" class="soc">
                <a style="margin-left:80%;" href="" class="fb" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a href="" class="tw ms-3" target="_blank"><i class='bx bxl-twitter' ></i></a>
                <a href="" class="li ms-3" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                <a href="" class="in ms-3" target="_blank"><i class='bx bxl-instagram' ></i></a>
            </div>
        </div>
        <div style="z-index: 10;" class="col-lg-6 col-md-6 col-6"><a href="#" class="makeappointment">Make An Appointment</a></div>
    </div>
</div>


<header class="header" id="header">
     
    <a  href="#" class="logo" ><img style="width:280px; margin-left:10%" src="{% static 'images/gmrl-logo.svg' %}" alt=""></a>
   
    <nav class="navbar ">
        <a  class="hoo ms-0" href="#">ABOUT US</a>
        <a  class="hoo" href="#">TESTS</a>
        <a  class="hoo" href="#">PACKAGES</a>
        <a  class="hoo" href="#">BLOGS</a>
        <a  class=" hoo"href="#">GALLERY</a>
        <a  class=" hoo"href="#">BRANCHES</a>
        <a  class=" hoo"href="#">CONTACT US</a>
      </nav>
  
</header>


<div id="whatsapp">

    <a href="" class="btn-whatsapp-pulse">
    <i class='bx bxl-whatsapp'></i>
    </a>
    
   
</div>