
{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'nav.html' %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <div class="innerpage-banner">
        <div class="container-fluid">
            <div class="row">
                <div style="z-index: 0; position:relative;margin-top:-5%; background-image: linear-gradient(white, rgb(238, 239, 246)) ;margin-left:0%;" class="col-lg-6">
                    <div  class="innerpage-banner-heading">
                        <span>
                            <h2 style="margin-top: 30%;margin-left:10%;font-weight:bold;font-family:Oswald, sans-serif;font-size:60px;font-weight:200;">Tests</h2>
                                                        <p style="margin-left: 10%;">Empower your wellness journey with comprehensive health assessments and diagnostic<br />tests for personalized care on our Tests page.</p>
                                                </span>
                    </div>
                </div>
                <div class="col-lg-6">
                <img style="z-index: 0; position:relative;margin-top:-13%;margin-left:-3%;"width="770" height="550" src="{% static 'images/placeholder.jpg' %}" class="attachment-large size-large" alt="Gmrl" decoding="async" fetchpriority="high" />			</div>
            </div>
        </div>
    </div>




   <div class="container-fluid">
    <div class="container">
        <div style="margin-top:10%;" class=" d-flex flex-wrap justify-content-center ">
            <div style="margin-left:-2%;" class=" w ">
                
                <h3>HAEMATOLOGY</h3>
                <h4>COMPLETE BLOOD COUNT (CBC)</h4>
                <p style="margin-top: 2%;">Hb</p>
                <p class="sss">TC</p>
                <p>DC</p>
                <p class="sss">ESR</p>
                <p>Platelet Count</p>
                <p class="sss">AEC</p>
                <p>Retics Peripheral Blood Film (PBF)</p>
                <p class="sss">Malarial Parasite (MP)</p>
                <p>MF</p>
                <p class="sss">LE Cells</p>
                <p>Group Rh</p>
                <p class="sss">Mantoux</p>
                <p>BT</p>
                <p class="sss">CT</p>
                <p>PTINR</p>
                <p class="sss">APTT</p>
                <p>PT Index</p>
                <p class="sss">Coagulation Profile</p>
                <p>ICT</p>
                <p class="sss">DC</p>
                <p >Lupus Anticoagulants</p>
                <p class="sss">Hb Electrophoresis</p>
                <p>Protein Electrophoresis</p>
                <h3 style="margin-top:10%;margin-bottom:10%;">URINE</h3>
                <p>Urine Complete Examination</p>
                <p class="sss">Albumin</p>
                <p>Sugar</p>
                <p class="sss">ME</p>
                <p>PREGNANCY TEST</p>
                <p class="sss">Acetone/ PH/ Specific Gravity</p>
                <p>Bile Salt</p>
                <p class="sss">Bile Pigment</p>
                <p>Protein (24Hrs.)</p>
                <p class="sss">Urobilinogen</p>
                <p>Creatinine Clearance (24 Hrs.)</p>
                <p class="sss">Protein Creatinine Ratio (Spot urine)</p>
                <p>Bence Jones Protein</p>
                <p class="sss">VMA (24Hrs.)</p>
                <h3 style="margin-top:10%;margin-bottom:10%;">STOOL</h3>
             
                <p>Stool Routine examination</p>
                <p class="sss">PH</p>
                <p>Occult Blood</p>
                <p class="sss">Reducing Substance</p>
                <h3 style="margin-top:10%;margin-bottom:10%;">SEMEN ANALYSIS</h3>
                <p >Detailed Semen Examination</p>
                <p class="sss">Semen Fructose</p>
                <h3 style="margin-top:10%;">MICROBIOLOGY</h3>
                <h4>CULTURE AND SENSITIVITY</h4>
                <p >Urine</p>
                <p class="sss">Blood</p>
                <p>Stool</p>
                <p class="sss">Sputum</p>
                <p >Conj-Swab</p>
                <p class="sss">Pus</p>
                <p>Throat Swab</p>
                <p class="sss">Semen</p>
                <p >Gramsstain</p>
                <p class="sss">Scraping for Fungus</p>
                <p>AFB Culture</p>
                <p class="sss">AFB Stain</p>
                <p>Fungal Culture</p>


                </div>

                <div style="margin-left: 3%;" class=" w   ">
                            <h3>BIO CHEMISTRY</h3>
                            <h4>DIABETIC PANEL</h4>
                <p>Fasting</p>
                <p class="sss">PPBS</p>
                <p>RANDOM</p>
                <p class="sss">GTT-F 100gm(lhr/2hr/3hr)</p>
                <p>GTT-F 75 gm ( 1/2 hr/ lhr/ V/2 hr/ 2hr)</p>
                <p class="sss">Glucose Challenge test (GCT) lhr.50gm glu</p>
                <p>Glucose Challenge test (GCT) 2hr.75gm glu</p>
                <p class="sss">HBA1C (GLYCOSILATED Hb)</p>
                <p>HBA1C (GLYCOSILATED Hb)</p>
                <p class="sss">Microalbuminuria</p>
                <p>Insulin</p>
                <p class="sss">Microalbumin to Creatinine Ratio</p>
                <h4 style="margin-top:5%;margin-bottom:5%;">LIPID PROFILE</h4>
                
                <p>Cholesterol</p>
                <p class="sss">Triglycerides</p>
                <p>HDL</p>
                <p class="sss">LDL</p>
                <h4 style="margin-top:5%;margin-bottom:5%;">LIVER FUNCTION TEST (LFT)</h4>
                
                <p >Bilirubin</p>
                <p class="sss">Total</p>
                <p>Direct</p>
                <p class="sss"></p>
                <p>SGOT</p>
                <p class="sss"></p>
                <p>SGPT</p>
                <p class="sss">Alkaline Phosphatase</p>
                <p>Protein</p>
                <p class="sss">Albumin</p>
                <p>Globulin</p>
                <h4 style="margin-top:5%;margin-bottom:5%;">SERUM ELECTROLYTES</h4>
                <p>Sodium</p>
                <p class="sss">Pottasium</p>
                <p>Chloride</p>
                <p class="sss">Bicarbonate</p>
                <h4 style="margin-top:5%;margin-bottom:5%;">KIDNEY FUNCTIONS</h4>
                <p>Urea</p>
                <p class="sss">Creatinine</p>
                <p>Uric Acid</p>
                <h4 style="margin-top:5%;margin-bottom:5%;">CARDIAC ENZYMES</h4>
                <p>CK</p>
                <p class="sss">CK-MB</p>
                <p>LDH</p>
                <p class="sss">Troponin 1</p>
                <h4 style="margin-top:5%;margin-bottom:5%;">OTHERS</h4>
                <p>Calcium</p>
                <p class="sss">Phosphorous</p>
                <p>Magnesium</p>
                <p class="sss">Ferritin</p>
                <p>lron</p>
                <p class="sss">TIBC</p>
                <p>Gamma GT</p>
                <p class="sss">Lipase</p>
                <p>Amylase</p>
                <p class="sss">Ammonia</p>
                <p>Vit D</p>
                <p class="sss">Vit B12</p>
                <p>Ceruloplasmin</p>
                <p class="sss">Lithium</p>
                <p>IL-6</p>
                <p class="sss">Direct LDL</p>
               
                        </div>


                        <div style="margin-left: 3%;" class="w ">
                                <h4>TORCH PANEL</h4>
                                <p style="margin-top: 5%;">Toxoplasma</p>
                                <p class="sss">Rubella</p>
                                <p>CMV</p>
                                <p class="sss">HSV I &-Il</p>
                                <p>HSVI</p>
                                <p class="sss">HSVII</p>
                                <h4 style="margin-top:5%;margin-bottom:5%;">HEPATITIS PANEL</h4>
                                <p>HBsAg (ELISA)</p>
                                <p class="sss">HBsAg(Card)</p>
                                <p>AntiHCV (ELISA)</p>
                                <p class="sss">Anti HCV(Card)</p>
                                <p>Anti HAV IgM</p>
                                <p class="sss">Anti HAV Igg</p>
                                <p>AntiHbs Total</p>
                                <p class="sss">AntiHEV IgM</p>
                                <p>AntiHbe Total</p>
                                <p class="sss">Hbe Ag</p>
                                <p>AntiHbe Total</p>
                                <p class="sss">Anti Hbc IgM</p>
                                <h4 style="margin-top:5%;margin-bottom:5%;">TUMOUR MARKERS</h4>
                                <p>CEA</p>
                                <p class="sss">AFP</p>
                                <p>CA 19.9</p>
                                <p class="sss">CA 125</p>
                                <p >CA 15.3</p>
                                <p class="sss">PSA</p>
                                <p>Free PSA</p>
                                <p class="sss">Beta HCG</p>
                                <h4 style="margin-top:5%;margin-bottom:5%;">HORMONES</h4>
                                <p>T3</p>
                                <p class="sss">T4</p>
                                <p>TSH</p>
                                <p class="sss">Free T3</p>
                                <p>ATG</p>
                                <p class="sss">AMA</p>
                                <p>PTH</p>
                                <p class="sss">Free T4</p>
                                <p>JAMH</p>
                                <p class="sss">AntiCCP Estradiol (E2)</p>
                                <p>LHFSH</p>
                                <p class="sss">Testosterone</p>
                                <p>Progesterone</p>
                                <p class="sss">DHEA-S</p>
                                <p>Cortisol</p>
                                <p class="sss">Anti dS DNA</p>
                                <p>C3</p>
                                <p class="sss">C4</p>
                                <p>Prolactin DHEA</p>
                                <p class="sss">Free Testosterone</p>
                                <p>PCOD Profile</p>
                                <p class="sss">Anti phospholipid IgG, IgM</p>
                                <p >Anti Cardolipin Antibodies IgG, IgM</p>
                                <p class="sss">Anti Sperm Anti Body (ASAB)</p>
                                <p>Total IgE</p>
                                <p class="sss">Immunoglobulin IgA, IgG, IgM</p>
                                <p>Thyroglobulin</p>
                                <p class="sss">Cystatin-C</p>
                                <p>Dual Test (gestation below 13 weeks)</p>
                                <p class="sss">Triple Marker (gestation 14-20 weeks)</p>
                                <p>Quadruple Test (gestation 14-22 weeks)</p>
                                <p class="sss">TBPCR (Blood, Urine, Sputum)</p>
                                <p>TB Gold</p>
                                <p class="sss">ANAIFA</p>
                                <p>ANA Profile</p>
                                <h4 style="margin-top:5%;margin-bottom:5%;">ALLERGY PANEL</h4>
                                <p>ANCA-IFA</p>
                                <p class="sss">Food Allergens panel (40)</p>
                                <p>Food Allergens panel (20)</p>
                                <p class="sss">Inhalation Allergens Panel (33)</p>
                                <p>Inhalation Allergens Panel (20)</p>
                                <p class="sss">Food And Inhalation paediatric</p>
                              
                               
                                

                                </div>













            </div>
        </div>
 
        





   </div>














{% endblock %}